# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://mpezevaozsqpirfozcfv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wZXpldmFvenNxcGlyZm96Y2Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY3MDM4ODUsImV4cCI6MjA3MjI3OTg4NX0.rOmsa-ua_ErgnXmgzAmyCUYKqN5-lDQSzYLfHOhhsEc

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here

# Database Configuration
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.mpezevaozsqpirfozcfv.supabase.co:5432/postgres
